
<h2 style="text-align:center">Foster Profile</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4">
        <div class="card">
            <img src="../../assets/IMG_5023.JPG" alt="Jeff" style="width:100%">
            <h1>Jeffrey Ren</h1>
            <h3> Interest:
            </h3>
            <h5> Pursuing an internship with tech companies,finishing masters degree with potential help/resourcess to succeed,and graciously
              recieve donated tech material for job/schools demands.
            </h5>
            <p class="title">Computer Science/Web Development,BA Degree,</p>
            <p>University of California,Riverside</p>
            <div style="margin: 24px 0;">
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa fa-gmail"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <p>
              <button>Contact</button>
            </p>
          </div>          
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="card">
            <img src="../../assets/IMG_5024.JPG" alt="Jeff" style="width:100%">
            <h1>Josue Colmenares</h1>
            <h3> Interest:
            </h3>
            <h5> Partnering with tech companies,networking and finding common interests. Interests in finishing school with a degree with potential help/resourcess to succeed
             and recieve donated tech/school material for job/schools demands.
            </h5>
            <p class="title">Computer Science/Web Development,Tech Experience(10yr)</p>
            <p>Teens Exploring Technology</p>
            <div style="margin: 24px 0;">
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa fa-gmail"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <p>
              <button>Contact</button>
            </p>
          </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="card">
            <img src="../../assets/IMG_5024.JPG" alt="Jeff" style="width:100%">
            <h1>Josue Colmenares</h1>
            <h3> Interest:
            </h3>
            <h5> Partnering with tech companies,networking and finding common interests. Interests in finishing school with a degree with potential help/resourcess to succeed
             and recieve donated tech/school material for job/schools demands.
            </h5>
            <p class="title">Computer Science/Web Development,Tech Experience(10yr)</p>
            <p>Teens Exploring Technology</p>
            <div style="margin: 24px 0;">
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa fa-gmail"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <p>
              <button>Contact</button>
            </p>
          </div>
    </div>
  </div>
</div>










