<!DOCTYPE html>
<html lang="en">
<head>
  <title>website </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
      height: 200px;
      background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Success For Change</h1>
  <p>Making a difference around foster youth community!</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Other</a>
      </li>    
    </ul>
  </div>  
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Foster Youth</h2>
      <h5>Are you a foster youth in California?</h5>
      <div class="fakeimg">Foster Images</div>
      <p>Foster youth community is usually conducted up until a foster youth ages out.
      Here we try to carry an inclusive environment where foster youth are encouragd to succeede no matter how old youare . We carrya definite abountoff benefits, resources and online help for you (the foster youth) to feel like a succeeding and thriving family.</p>
      <h3>Foster Parent Links</h3>
      <p>Are you a foster parent looking for more help? or are you interested in fostering a child? Here are some links provided to you to further your journey..</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Foster parents support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fostering a child</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Foster Parents Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Legal documentation</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Become a Sponsor</h2>
      <h5>Why your help in sponsoring a foster will make a difference in our community!</h5>
      <div class="fakeimg">sponsor Image</div>
      <p>Some text..</p>
      <p>Are you a business, orginazation, investor or just have an interest or kind heart in helping others? Your donations and inquires will be kindly appreciated from either an internship to sponsoring a child through there highschoool or college carrer can only help an unfortunate abundantly. Here we are open to community gatherings celebratons and being able to see personal growth for success. not only will the Fosters benifit but also you as well , consider being envolved in ouur community. </p>
      <br>
      <h2>Who we are?</h2>
      <h5>A little bit about us and what we do..</h5>
      <div class="fakeimg">our Image</div>
      <p>Success for change:</p>
      <p>Success for change was founded in 2018 by a small community of foster youth looking to make a change not only in the children but trying to unify the community as a hole. here we bring together major cmpanies major investors or kind hearted people looking to impact a foster. fosters are able to explore get the help they need and as well as dispay all of their talents while creating a personal profile. in these personal profiles you see the growth of each chid and you can chose to contact a foster to offer an inquiere or donation into furthering thier future sucess.</p>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

</body>
</html>
